<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title class="ion-title"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
      <ion-title size="medium">Buy/Sell</ion-title>
    </ion-toolbar>
  <!-- <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">...</div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  </div> -->


  <ion-tabs style="margin-top: 50px;">
    <!-- Tab bar -->
    <ion-tab-bar slot="top">
      <ion-tab-button tab="buy">
        Buy
        <!-- <ion-icon name="person"></ion-icon> -->
      </ion-tab-button>
      <ion-tab-button tab="sell">
        Sell
        <!-- <ion-icon name="call"></ion-icon> -->
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
